@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI",sans-serif;
    line-height: 135%;
}
a{
     color: brown;
     text-decoration: none;
     transition: all.6s ease;
     -moz-transition: all.6s ease;
     -webkit-transition: all.6s ease;
     -ms-transition: all.6s ease;
 }
a:hover{
    color: blue;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
a:active{color: aqua}
img{
    max-width:100%;
    height: auto;
    width: auto\9;
}
/* селешкен*/
::selection{background: brown;color: #f7f7f7}
::-moz-selection{background: brown;color: #f7f7f7}
header,footer{
    width: 100%;
    background-color: ghostwhite;
    min-height: 50px;
}
header{
    border-bottom: 2px solid silver;
}
footer{
    border-top: 2px solid silver;
    margin-top: 10px;
}